.selected {
  background-color: var(--main-light);
  border-radius: 4px;
}

.itemContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.selectCheckbox {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.buttonGroup{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.reviewRecommandedButton, .reviewAllButton {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0.5em 1em;
}

.reviewRecommandedButton {
  color: var(--main);
  background-color: var(--bg-primary);
}

.reviewAllButton {
  color: var(--bg-primary);
  background-color: var(--main);
}

.reviewRecommandedButton:hover {
  color: var(--accent-1);
  background-color: var(--bg-primary);
}

.reviewAllButton:hover {
  color: var(--bg-primary);
  background-color: var(--accent-1);
}