.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main-container {
    width: 100vw;
  }
}
