.modalContent {
  background: var(--bg-primary);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px var(--shadow), 0 2px 4px -1px var(--shadow);
  max-width: 400px;
  width: 90%;
    text-align: left;
}

.modalContent h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 1rem;
  
}

.modalContent p {
  margin: 0;
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin-bottom: 2rem;
}